setuptools==41.0.1
tensorflow==1.13.1
tensorflow_probability==0.6.0
numpy==1.16.4
pixlc==0.0.2
matplotlib==3.1.0
spitzerlc.egg==info
scipy==1.2.1
pandas==0.24.2
bunch==1.0.1
pylightcurve==2.3.2
main==0.1
scikit_learn==0.21.3
PyYAML==5.1.2
